@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
   @font-face {
      font-family: 'poppins-400';
      src: url('../font/Poppins-Regular.ttf') format('truetype');
   }

   @font-face {
      font-family: 'poppins-500';
      src: url('../font/Poppins-Medium.ttf') format('truetype');
   }

   @font-face {
      font-family: 'poppins-600';
      src: url('../font/Poppins-SemiBold.ttf') format('truetype');
   }

   @font-face {
      font-family: 'poppins-700';
      src: url('../font/Poppins-Bold.ttf') format('truetype');
   }

   @font-face {
      font-family: 'poppins-800';
      src: url('../font/Poppins-ExtraBold.ttf') format('truetype');
   }
   
}

.container {
   margin: 0px auto;
   padding: 0px 20px;
}

body {
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}

* {
   font-family:  'poppins-400';
   font-size: 16px;
}
a{
   cursor: pointer;
   transition: 0.3s;
}
a:hover{
   color: #13B31F;
}
a:hover span{
   color: #13B31F;
}
h1 {
   font-family: 'poppins-600';
   font-size: 56px;
   line-height: 1;
   @media(max-width: 700px){
      line-height: 1.3;
      font-size: 44px!important;
   }
}

button {
   padding: 8px 16px;
   border-radius: 30px;
   outline: none;
}